nav {
  background-color: rgb(1, 2, 14);
  height: 70px;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 50px;
  font-size: 1.5rem;
  cursor: pointer;
}
nav ul li:hover{
    color:#9333ea;
    border: 0.5px solid #3b82f6;
    border-radius: 5px;
    box-shadow: 0 0 50px #3b82f6;
    transform: translateY(-7px);
}

.first{
    color:#9333ea;
    
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Logo{
   
    width:55px;
    height:55px;
    margin-left: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {

  nav {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 10px;
  }

  .logo-section {
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
  }

  .Logo {
    width: 25px;
    height: 25px;
  }

  .logo-name {
    font-size: 0.9rem;
  }

  nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    font-size: 13px;
    white-space: nowrap;
  }
}